/* #region GLOBAL */
*,
*:hover {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Inter", sans-serif;
	color: #292929;
}
a {
	color: inherit;
}
.container {
	max-width: 1050px;
	padding: 0 15px;
	margin: 0 auto;
}
.title {
	text-align: center;
	font-size: 48px;
	font-weight: 700;
	line-height: 100%;
	letter-spacing: -1.5px;
}

/* #endregion */

/* #region HEADER */
.header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 64px 120px;
	background-image: url(images/Headphones-image-1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.header__top {
	display: flex;
	justify-content: space-between;
}
.header__top a {
	width: 24px;
	height: 24px;
}
.header__top a:hover {
	background: url(images/icons/Icon-Burger-menu-hover.png);
}
.header__top img:hover {
	opacity: 0;
}
.logo {
	display: inline-block;
	width: 191px;
}

.header__bottom img {
	display: inline-block;
	margin-bottom: 40px;
}
.header__bottom h1 {
	font-size: 48px;
	font-style: italic;
	font-weight: 800;
	line-height: 100%;
	letter-spacing: -1.5px;
}
/* #endregion */

/* #region MENU */
.menu {
	background-color: rgba(232, 239, 249, 1);
	width: 100%;
	height: 100vh;
	padding: 64px 120px;

	position: fixed;
	top: 0;
	left: 0;
	transform: translateX(-100%);
	transition: transform 0.3s ease;
}

.menu:target {
	transform: translateX(0%);
}

.menu__top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 64px;
}
.menu__list {
	list-style: none;
}
.menu__link {
	text-transform: uppercase;
	text-decoration: none;

	font-size: 22px;
	font-style: normal;
	font-weight: 700;
	line-height: 100%;
	letter-spacing: 2px;
	display: inline-block;
	margin-bottom: 32px;
	padding-bottom: 8px;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.5s ease;
}

.menu__link:hover {
	border-bottom: 1px solid #292929;
	transition: border-bottom 0.5s ease;
}
/* #endregion */

/* #region MAIN */
.main {
	padding: 120px;
	background-color: #fff;
}
/* #region section RECOMENDED */
.recommended {
	margin-bottom: 120px;
}
.recommended__title {
	margin-bottom: 64px;
}
.recommended__products {
	display: flex;
	gap: 24px;
	justify-content: center;
}
.product {
	font-size: 16px;
	line-height: 140%;
	flex-basis: 324px;
}
.product__photo {
	margin-bottom: 32px;
	display: inline-block;
	width: 100%;
}
.product__title {
	margin-bottom: 8px;
	font-weight: 700;
	font-size: 16px;
	line-height: 140%;
}
.product__category {
	font-size: 16px;
	line-height: 140%;
	margin-bottom: 12px;
}
.product__price {
	font-weight: 700;
}
/* #endregion */

/* #region section CATEGORIES */
.categories {
	margin-bottom: 120px;
}
.categories__title {
	margin-bottom: 64px;
}
.category:not(:last-of-type) {
	margin-bottom: 64px;
}
.category__photos {
	display: flex;
	gap: 2.5%;
	margin-bottom: 16px;
}
.category__title {
	font-size: 24px;
	font-weight: 700;
	line-height: 140%;
}
.photo__wide {
	width: 65%;
}
.photo__square {
	width: 32.5%;
}
/* #endregion */

/* #region section HOW-TO-BUY */
.how-to-buy {
	display: flex;
	gap: 10%;
}
.how-to-buy__title {
	text-align: left;
	flex-basis: 40%;
}
.how-to-buy__content {
	flex-basis: 50%;
}
.how-to-buy__list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-bottom: 40px;
}
.how-to-buy__item {
	font-weight: 700;
	line-height: 140%;
}
.how-to-buy__text {
	line-height: 169%;
}
/* #endregion */

/* #endregion */

/* #region FOOTER */
.footer {
	position: sticky;
	bottom: 0;
	left: 0;
	z-index: -1;
	background-image: url(images/footer/footer-bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 460px;
}
/* #endregion */

/* #region MEDIA */
@media (max-width: 767px) {
	.header {
		padding: 30px 60px;
	}
	.menu {
		padding: 30px 60px;
	}
	.main {
		padding: 60px;
	}
	.recommended {
		margin-bottom: 60px;
	}
	.categories {
		margin-bottom: 60px;
	}
	.how-to-buy {
		display: flex;
		gap: 10%;
		flex-wrap: wrap;
	}
	.how-to-buy__title {
		text-align: center;
		flex-basis: 100%;
		margin-bottom: 24px;
	}
	.how-to-buy__content {
		flex-basis: 100%;
		display: flex;
		gap: 10%;
	}
	.how-to-buy__list {
		margin-bottom: 0px;
		flex-basis: 45%;
	}
	.how-to-buy__text {
		flex-basis: 45%;
	}
}
@media (max-width: 639px) {
	.header {
		padding: 30px 30px;
		height: 90vh;
	}
	.header__bottom {
		margin-bottom: 35px;
	}
	.menu {
		padding: 30px 30px;
	}
	.main {
		padding: 30px;
	}
	.recommended__products {
		flex-direction: column;
		text-align: center;
	}
	.product__photo {
		margin-bottom: 8px;
		width: 60%;
	}
	.recommended {
		margin-bottom: 40px;
	}
	.product {
		padding-bottom: 10px;
		border-bottom: 1px solid rgba(110, 110, 249, 0.5);
	}
	.product__category {
		margin-bottom: 8px;
	}
	.recommended__title {
		margin-bottom: 32px;
	}
	.categories__title {
		margin-bottom: 32px;
	}
	.category:not(:last-of-type) {
		margin-bottom: 32px;
	}
	.category__photos {
		margin-bottom: 6px;
	}
	.footer {
		height: 320px;
	}
}
@media (max-width: 525px) {
	.header {
		padding: 15px 15px;
	}
	.menu {
		padding: 15px 15px;
	}
	.main {
		padding: 30px 0px;
	}
	.header__bottom {
		display: flex;
		justify-content: space-between;
		background-color: rgba(232, 239, 249, 0.2);
		padding: 5px;
	}
	.header__bottom h1 {
		font-size: 36px;
	}
	.header__bottom img {
		margin-bottom: 0px;
	}
	.title {
		font-size: 36px;
	}

	.category__title {
		font-size: 20px;
	}
	.categories {
		margin-bottom: 40px;
	}
	.category__photos {
		display: flex;
		gap: 4%;
		margin-bottom: 8px;
	}
	.photo__wide {
		width: 48%;
		object-fit: cover;
	}
	.photo__square {
		width: 48%;
	}
	.how-to-buy__content {
		flex-direction: column;
		padding-bottom: 30px;
	}
}
@media (max-width: 460px) {
	.header__top {
		background-color: rgba(232, 239, 249, 0.2);
		padding: 10px;
	}
	.menu__top {
		padding: 10px;
	}
	.header__bottom img {
		max-width: 15%;
		aspect-ratio: 1;
	}
	.header__bottom h1 {
		font-size: 28px;
	}
	.title {
		font-size: 30px;
	}
	.recommended__title {
		margin-bottom: 25px;
	}
	.category:not(:last-of-type) {
		margin-bottom: 25px;
	}
	.product {
		flex-basis: 260px;
	}
	.category__title {
		font-size: 16px;
	}
	.how-to-buy__item {
		font-size: 14px;
		line-height: 100%;
	}
	.how-to-buy__text {
		font-size: 14px;
		line-height: 130%;
	}
}
/* #endregion */
